doctype html
html
	head
		title User delete
		link(rel= 'stylesheet', href= '/stylesheets/style.css')
	body
			h2(color= 'red') 	#{user.username}, ARE YOU SURE YOU WANNA DELETE YOUR ACCOUNT?
			form(action='/delete_user', method='POST')
				br
				button(type='submit',background-color='red') Confirmar
		a(href='/user') Voltar